<h3>Disliked Movies</h3>

<ul>
    <li class="odd">Dumbo</li>
    <li class="even">Tees Maar Khan</li>
    <li class="odd">Marvel Movies</li>
    <li class="even">Cartoon Movies</li>
    <li class="odd">French Soup</li>
</ul>