<h3>Favourite Movies</h3>

<ul>
    <li class="odd">Andhadhun</li>
    <li class="even">Carry on Jatta 2</li>
    <li class="odd">Drishyam</li>
    <li class="even">Action Hero</li>
    <li class="odd">Badla</li>
</ul>

<br>